<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin/customers">E-Banking</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/accounts">Accounts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Customers
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/customers">
                Search customers
              </a>
            </li>
            <li *ngIf="authService.roles.includes('ROLE_ADMIN')">
              <a class="dropdown-item" routerLink="/admin/new-customer">
                New customer
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi bi-person-circle"></i>
            {{authService.username}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item text-danger" (click)="handleLogout()">
                <i class="bi bi-box-arrow-right"></i> Logout
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
    Accounts
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" routerLink="/admin/accounts">
        Search Accounts
      </a>
    </li>
    <li *ngIf="authService.roles.includes('ROLE_ADMIN')">
      <a class="dropdown-item" routerLink="/admin/new-account">
        New Account
      </a>
    </li>
  </ul>
</li>
      </ul>
    </div>
  </div>
</nav>