<div class="container mt-2">
  <div class="card col-md-4 offset-4">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" 
            (ngSubmit)="handleChangePassword()">
        <div class="mb-3">
          <label>Old Password :</label>
          <input type="password" formControlName="oldPassword" 
                 class="form-control">
        </div>
        <div class="mb-3">
          <label>New Password :</label>
          <input type="password" formControlName="newPassword" 
                 class="form-control">
        </div>
        <div class="mb-3">
          <label>Confirm Password :</label>
          <input type="password" formControlName="confirmPassword" 
                 class="form-control">
          <span class="text-danger" 
                *ngIf="changePasswordForm.errors?.['mismatch']">
            Passwords do not match
          </span>
        </div>
        <div *ngIf="errorMessage" class="text-danger mb-2">
          {{errorMessage}}
        </div>
        <div *ngIf="successMessage" class="text-success mb-2">
          {{successMessage}}
        </div>
        <button class="btn btn-warning w-100">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>