<div class="container mt-2">
  <div class="card col-md-6 offset-3">
    <div class="card-header">Edit Customer</div>
    <div class="card-body">
      <form [formGroup]="editCustomerFormGroup" 
            (ngSubmit)="handleUpdateCustomer()">
        <div class="mb-3">
          <label class="form-label">Name :</label>
          <input type="text" formControlName="name" 
                 class="form-control">
          <span class="text-danger"
            *ngIf="editCustomerFormGroup.controls['name'].touched
              && editCustomerFormGroup.controls['name'].errors?.['required']">
            Name is required
          </span>
          <span class="text-danger"
            *ngIf="editCustomerFormGroup.controls['name'].touched
              && editCustomerFormGroup.controls['name'].errors?.['minlength']">
            Name must be at least 4 characters
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email :</label>
          <input type="text" formControlName="email" 
                 class="form-control">
          <span class="text-danger"
            *ngIf="editCustomerFormGroup.controls['email'].touched
              && editCustomerFormGroup.controls['email'].errors?.['required']">
            Email is required
          </span>
          <span class="text-danger"
            *ngIf="editCustomerFormGroup.controls['email'].touched
              && editCustomerFormGroup.controls['email'].errors?.['email']">
            Email is not valid
          </span>
        </div>
        <div *ngIf="errorMessage" class="text-danger mb-2">
          {{errorMessage}}
        </div>
        <button [disabled]="!editCustomerFormGroup.valid" 
                class="btn btn-warning w-100">
          Update Customer
        </button>
      </form>
    </div>
  </div>
</div>